.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 4px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.btn {
  width: 60px;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}