.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 20px
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name,
.number {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}